.contact {
    margin-top: 140px;
    height: calc(100vh - 130px);
}

.label {
    color: #1abc9c;
    position: relative;
    top: 40px;
    transition: 0.3s top;
}

.active {
    top: 0;
}

.button {
    width: fit-content;
    background-color: #1abc9c;
}

.button:hover {
    background-color: #1abc9c;
}